.badge {
  @include font-body-small;
  font-size: 100% !important;
  color: white;
  padding: 10px 20px !important;
  border-radius: $border-radius !important;
  margin: 1rem 0.5rem 1rem 0;
  i {
    cursor: pointer;
  }
}
