.card {
  width: 380px;
  border-radius: $border-radius;
  margin: 1.44rem;

  .card-img-top {
    height: 178px;
    background-color: $color-darkgrey;
  }
  .card-body {
    height: 184px;
    border: none;
    background-color: $color-lightgrey;
    padding: 20px;
  }
  h2 {
    @include font-body;
    width: 15rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h3 {
    @include font-body-extra-large;
  }

  .ingredients {
    span {
      @include font-body-extra-small;
      font-weight: 400;
    }
  }

  .description {
    width: 45%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @supports (-webkit-line-clamp: 8) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
    }
  }
}
