body {
  margin: 40px 100px !important;
  font-family: "Lato", sans-serif !important;
}

.color-ingredient {
  background-color: $color-blue !important;
}

.color-appliance {
  background-color: $color-green !important;
}

.color-ustensil {
  background-color: $color-red !important;
}

.noEntry {
  display: none ;
  text-align: center;
  margin-top: 12rem;
  font-size: 20px;
}