/*************************************/
/*             MIXINS                */
/*************************************/

@mixin font-body-extra-large {
  font-weight: 700;
  font-size: $base-fontSize;
  line-height: 21.6px;
}

@mixin font-body {
  font-weight: 400;
  font-size: $base-fontSize;
  line-height: 21.6px;
}

@mixin font-body-small {
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
}

@mixin font-body-extra-small {
  font-weight: 700;
  font-size: 12px;
  line-height: 14.4px;
}

@mixin font-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}
