/*************************************/
/*             VARIABLES             */
/*************************************/

$base-fontSize: 18px;

$color-blue: #3282f7;
$color-green: #68d9a4;
$color-red: #ed6454;
$color-lightgrey: #e7e7e7;
$color-darkgrey: #c7bebe;
$color-black: black;


$border-radius: 5px;
